---
title: アピリッツ軽音楽部
---

h1 アピリッツ軽音楽部

.jumbotron
  h2 夏ライブ
  p.datetime
    span 10/25(土) 16:00-18:00
    small.text-muted （出演者は14:30集合）
  p.location ゲートウェイスタジオ渋谷道玄坂店

.setlist
  h3 セットリスト
  ol
    li
      p.name 恵比寿エンジニアリング(仮)
      p.members
        ul
          li Gt.Vo. 長塚
          li Gt. あべさん
          li Ba. 谷さん
          li Dr. 尾崎さん
      p.tracks
        ol
          li 錆びついたマシンガンで今を撃ち抜こう/WANDS
          li DAN DAN 心魅かれてく/FIELD OF VIEW
          li ひとりじゃない/DEEN
          li すばらしい日々/ユニコーン
    li
      p.name 会計スタンダード(仮)
      p.members
        ul
          li Vo./Ba. 原
          li Gt./Dr. 剣持
          li Ba./Gt. 相田
          li Dr./Vo. 稲見
      p.tracks
        ol
          li My First Kiss/Hi-STANDARD
          li Sunny Day Sunday/センチメンタル・バス
          li Hit in the USA/BEAT CRUSADERS
    li
      p.name Moritas
      p.members
        ul
          li Vo. 須藤
          li Gt. 吉田
          li Ba. 岡田さん
          li Dr. 森さん
      p.tracks
        ol
          li キスしてほしい/THE BLUE HEARTS
          li Butter-Fly/和田光司
          li 旅人よ/爆風スランプ

.warning
  h3 諸注意
  ul
    li スタジオ内の飲食禁止（フタ付きペットボトルはOK）
    li スタジオ内は禁煙
    li 観客の入場は無料
    li 30畳なので観客の定員は20人を想定
